:root{
--color_base:#3d39b9e5;

}



/*ESTILOS HEADER PARA ESCRITORIO*/
.header {
  background-color: var(--color_base);
  color: #ffffff;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  padding: 1.5rem 0;
}

.anclaLogo {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}
.anclaLogo:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}
.listaNav {
  list-style: none;
  display: flex;
  align-items: center;
}
.listaItem {
  margin-right: 20px;
}
.linkNav {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  /* Agregar efecto de botón presionado */
  transition: transform 0.3s, box-shadow 0.3s;
}
.linkNav:hover {
  background-color: var(--color_hover);
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.667);
}


/*ESTILOS PARA HEADER MOBILE Y TABLET*/

@media (max-width: 768px) {
  .header {
    height: initial;}
    .navegacion {
      margin-left: 10px;
      margin-right: 10px;
      flex-direction: column;
      row-gap: 20px;}
      .anclaLogo {
        font-size: 1.2rem;
        font-weight: 700;
      }
      .listaNav {
        padding: initial;}
        .listaItem {
          .linkNav {
            font-weight: 400;
            margin-right: initial;
            font-size: 1rem;
            padding: 0.2rem;
          }
        }
      }
