.detalle {
  padding-top: 50px;
  background: linear-gradient(to right top, #6d6969a7, #6d6969a7),
    url("/imagenes/mario.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
}
.contenedorDetalle {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}
img {
  border-radius: 20px;
}
.textoDetalle h1 {
  font-size: 2.2rem;
  font-weight: 700;
}
.textoDetalle h2 {
  margin-top: 20px;
}
.contenedorCreditos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.trailer {
  padding-top: 150px;
  padding-bottom: 100px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 70px;
}

.redes {
  margin-bottom: 20px;
}
.redes ul {
  list-style: none;
  display: flex;
  column-gap: 20px;
}
.redes ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.5rem;
  margin-right: 50px;
}
.info {
  table {
    width: 100%;
    tr {
      td {
        font-size: 1.2rem;
        padding: 10px 0px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .detalle {
    height: initial;
  }
  .contenedorDetalle {
    flex-direction: column;
    row-gap: 20px;
  }
  img {
    width: 100%;
    height: 300px;
  }
  .textoDetalle h1 {
    font-size: 1.5rem;
  }
  .textoDetalle h2 {
    font-size: 1rem;
  }
  .contenedorCreditos {
    flex-direction: column;
    row-gap: 10px;
  }

  .trailer {
    width: 95%;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    row-gap: 20px;
  }
  .contenedorTrailer {
    width: 100%;
  }
  .contenedorTrailer h2 {
    margin-bottom: 20px;
  }
  .contenedorTrailer iframe {
    width: 100%;
    height: 300px;
  }

  .contenedorInfo {
    width: 100%;
  }
  .redes {
    width: 100%;
  }
  .redes ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .redes li a {
    font-size: 2rem;
    margin-right: 20px;
  }
  .info {
    table {
      tr {
        td {
          font-size: 1rem;
        }
      }
    }
  }
}
